.text-field {
    -fx-font-family : "Segoe UI Semibold";
}

.combo-box {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-font-family : "Segoe UI Semibold";
}

.category-button {
    -fx-border-width : 0.5;
    -fx-text-fill : black ;
    -fx-font-size : 15px;
    -fx-font-family : "Segoe UI Symbol";
    -fx-background-color: linear-gradient(to bottom, rgba(200, 200, 200, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));

}

.category-button:hover {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill : white ;
    -fx-font-size : 17px;
    -fx-font-family : "Segoe UI Symbol";
}

.table-items {

    -fx-font-size : 15px;
    -fx-font-family : "Segoe UI Symbol";
}

.header-label {
    -fx-text-fill : white;
    -fx-font-size : 30px;
    -fx-font-family : "Segoe UI Symbol";
}

.sub-header-label {
     -fx-text-fill : black;
     -fx-font-size : 25px;
     -fx-font-family : "Segoe UI Symbol";
}

.add-button {
     -fx-background-color: black;
     -fx-border-color: black;
     -fx-border-width : 0.5;
     -fx-text-fill: white;
     -fx-font-size : 14px;
}

.add-button:hover {
          -fx-background-color: white;
          -fx-border-color: black;
          -fx-border-width : 0.5;
          -fx-text-fill: black;
          -fx-font-size : 14px;
}

.menu-button {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-font-size : 12px;
}

.sub-button {
        -fx-background-color: white;
        -fx-border-color: black;
        -fx-border-width : 0.5;
        -fx-text-fill : #000000cb;
        -fx-font-size : 12px;
    }
}