.header-label {
    -fx-text-fill : white;
    -fx-font-size : 26px;
    -fx-font-family : "Segoe UI Symbol";

}

.setting-button {
    -fx-border-color: white;
    -fx-border-width : 0.5;
    -fx-text-fill : black ;
    -fx-font-size : 15px;
    -fx-font-family : "Segoe UI Symbol";
    -fx-background-color: linear-gradient(to bottom, rgba(200, 200, 200, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8));
}

.setting-button:hover {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill : white ;
    -fx-font-size : 17px;
    -fx-font-family : "Segoe UI Symbol";
}

.edit-table-label {

    -fx-font-size : 30px;
    -fx-font-family : "Segoe UI Symbol";

}

.hollow-delete-button{
    -fx-background-color: #ffffff;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill: #000000;
    -fx-font-size : 14px;
    -fx-border-radius: 2px;
}

.hollow-delete-button:hover{
    -fx-background-color: #da3f3f;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill: #ffffff;
    -fx-font-size : 14px;
    -fx-border-radius: 2px;
}

.delete-button {
    -fx-background-color: #e08484;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill: #000000;
    -fx-font-size : 14px;
    -fx-border-radius: 2px;
}

.delete-button:hover {
    -fx-background-color: #ea4747;
    -fx-border-color: white;
    -fx-border-width : 0.5;
    -fx-text-fill: white;
    -fx-font-size : 14px;
}

.update-button {
    -fx-background-color: #80c975;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill: #000000;
    -fx-font-size : 14px;
    -fx-border-radius: 5px;
}

.update-button:hover {
    -fx-background-color: #5b8c52;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill: #000000;
    -fx-font-size : 14px;
    -fx-border-radius: 5px;
}

.view-purchases-button {
    -fx-background-color: #7fb9f3;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill: #000000;
    -fx-font-size : 14px;
    -fx-border-radius: 5px;
}

.view-purchases-button:hover {
    -fx-background-color: #5b82b6;
    -fx-border-color: white;
    -fx-border-width : 0.5;
    -fx-text-fill: white;
    -fx-font-size : 14px;
}

.saveEdit-button {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill: white;
    -fx-font-size : 14px;
    -fx-border-radius: 2px;
}

.saveEdit-button:hover {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill: black;
    -fx-font-size : 14px;
}


.area-name-textField{
    -fx-font-family : "Segoe UI Semibold";
    -fx-font-size : 24px;
}

.plus-table-button{
    -fx-background-color: #96fa84;
    -fx-border-width : 0.5;
    -fx-text-fill : #026113;
    -fx-font-size : 16px;
}

.minus-table-button{
    -fx-background-color: #fa8484;
    -fx-border-width : 0.5;
    -fx-text-fill : #570d0d;
    -fx-font-size : 15px;
}

.tables-label{
    -fx-font-family : "Segoe UI Semibold";
    -fx-font-size : 16px;
}

.tracking-off-button {
    -fx-background-color: #e08484;
    -fx-border-color: white;
    -fx-border-width : 0.5;
    -fx-text-fill: #000000;
    -fx-font-size : 14px;
    -fx-border-radius: 2px;
}

.tracking-off-button:hover {
    -fx-background-color: #bd4e4e;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill: white;
    -fx-font-size : 14px;
}

.tracking-on-button {
    -fx-background-color: #80c975;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill: #000000;
    -fx-font-size : 14px;
    -fx-border-radius: 5px;


}

.tracking-on-button:hover {
    -fx-background-color: #5b8c52;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill: #000000;
    -fx-font-size : 14px;
    -fx-border-radius: 5px;
}


/*  CSS FOR SCROLL BARS */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :white;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 8.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 8.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

