.edit-table-label {

    -fx-font-size : 30px;
    -fx-font-family : "Segoe UI Symbol";

}

.saveEdit-button {
     -fx-background-color: black;
     -fx-border-color: black;
     -fx-border-width : 0.5;
     -fx-text-fill: white;
     -fx-font-size : 14px;
}

.saveEdit-button:hover {
          -fx-background-color: white;
          -fx-border-color: black;
          -fx-border-width : 0.5;
          -fx-text-fill: black;
          -fx-font-size : 14px;
}

.area-name-label{
    -fx-font-family : "Segoe UI Semibold";
    -fx-font-size : 20px;
}

.area-name-textField{
    -fx-font-family : "Segoe UI Semibold";
    -fx-font-size : 16px;
}

.plus-table-button{
    -fx-background-color: #96fa84;
    -fx-border-width : 0.5;
    -fx-text-fill : #026113;
    -fx-font-size : 16px;
}

.minus-table-button{
    -fx-background-color: #fa8484;
    -fx-border-width : 0.5;
    -fx-text-fill : #570d0d;
    -fx-font-size : 15px;
}

.tables-label{
    -fx-font-family : "Segoe UI Semibold";
    -fx-font-size : 16px;
}