.categoryButtons {
    -fx-background-color: white;
    -fx-text-fill : black ;
}

.categoryButtons:hover {
    -fx-background-color : black;
    -fx-text-fill : white

}

.table {
    -fx-background-color : black;
    -fx-border-color : white;
}

.table:hover {
    -fx-background-color : magenta;
    -fx-border-color  : yellow;
}

.billGridPane {
    -fx-background-color : white
}

.discountTextField {
    -fx-background-color : lightgrey
}

.billngButtons {
    -fx-background-color: black;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill : white ;
}

.billngButtons:hover {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width : 0.5;
    -fx-text-fill : black ;
}
