.table {
    -fx-background-color : black;
    -fx-border-color : white;
}

.table:hover {
    -fx-background-color : magenta;
    -fx-border-color  : yellow;
}

.billGridPane {
-fx-background-color : grey
}